Repository nikhil7e/hotel-search, pull requests merged in 2022-04, with the labels that each got.

#29 Implement HotelController
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/DatabaseService.java
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/NoDBConnectionMock.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
  test/hotelsearch/model/UnsuccessfulDBSearchMock.java
Labels: controller class

#32 Comparator class implemented and partially tested
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/Hotel.java
  test/hotelsearch/controller/HotelControllerTest.java
Labels: controller class

#37 Fix errors and refactor code
  .idea/hotel-search.iml
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/DatabaseService.java
  src/hotelsearch/model/Hotel.java
  src/hotelsearch/model/HotelDB.java
  src/sql/schema.sql
  src/src.iml
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/NoDBConnectionMock.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
  test/hotelsearch/model/UnsuccessfulDBSearchMock.java
  test/test.iml
Labels: bug

#38 Filters branch
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/Booking.java
  src/hotelsearch/model/Hotel.java
  src/hotelsearch/model/HotelDB.java
  src/hotelsearch/model/Room.java
  src/sql/schema.sql
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
Labels: enhancement, controller class

#39 Search options class
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/DatabaseService.java
  src/hotelsearch/model/HotelDB.java
  src/hotelsearch/model/SearchOptions.java
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/NoDBConnectionMock.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
  test/hotelsearch/model/UnsuccessfulDBSearchMock.java
Labels: model class

#41 Implement remaining HotelDB methods
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/Booking.java
  src/hotelsearch/model/DatabaseService.java
  src/hotelsearch/model/Hotel.java
  src/hotelsearch/model/HotelDB.java
  src/hotelsearch/model/SearchOptions.java
  src/sql/hotel-search.db
  src/sql/schema.sql
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/NoDBConnectionMock.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
  test/hotelsearch/model/UnsuccessfulDBSearchMock.java
Labels: model class, database

#47 Seperate name and location into two attributes
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/gui/HotelGUIController.java
  src/hotelsearch/model/Hotel.java
  src/hotelsearch/model/HotelDB.java
  src/hotelsearch/model/SearchOptions.java
  src/sql/hotel-search.db
  src/sql/schema.sql
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
Labels: model class, database

#48 Make cancelBooking method return boolean
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/DatabaseService.java
  src/hotelsearch/model/HotelDB.java
  src/sql/hotel-search.db
  src/sql/schema.sql
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/NoDBConnectionMock.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
  test/hotelsearch/model/UnsuccessfulDBSearchMock.java
Labels: model class, database

#49 Implement findBookings method
  src/hotelsearch/model/DatabaseService.java
  src/hotelsearch/model/HotelDB.java
  src/sql/hotel-search.db
  src/sql/schema.sql
  test/hotelsearch/model/NoDBConnectionMock.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
  test/hotelsearch/model/UnsuccessfulDBSearchMock.java
Labels: model class, database

#50 Add findBookings method to HotelController and JavaDoc
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/model/HotelDB.java
Labels: documentation, model class, controller class, database

#51 Updated search scene
  src/hotelsearch/gui/HotelGUI.fxml
  src/hotelsearch/gui/HotelGUIController.java
Labels: enhancement

#52 Implement HotelDB insert methods
  src/hotelsearch/model/Hotel.java
  src/hotelsearch/model/HotelDB.java
  src/hotelsearch/model/Room.java
  src/sql/hotel-search.db
  src/sql/schema.sql
  test/hotelsearch/controller/HotelControllerTest.java
  test/hotelsearch/model/SuccessfulDBSearchMock.java
Labels: model class, database

#53 Move "order by" and "filter" methods to View. Add working filter interface to the Search Scene in the GUI.
  src/hotelsearch/controller/HotelController.java
  src/hotelsearch/gui/HotelGUI.fxml
  src/hotelsearch/gui/HotelGUIController.java
  src/hotelsearch/gui/HotelGUIMain.java
  test/hotelsearch/controller/HotelControllerTest.java
Labels: view

#54 Populate database
  src/hotelsearch/model/HotelDB.java
  src/images/hotel1.jpeg
  src/images/hotel10.jpeg
  src/images/hotel11.jpeg
  src/images/hotel12.jpeg
  src/images/hotel13.jpeg
  src/images/hotel14.jpeg
  src/images/hotel15.jpeg
  src/images/hotel16.jpeg
  src/images/hotel2.jpeg
  src/images/hotel3.jpeg
  src/images/hotel4.jpeg
  src/images/hotel5.jpeg
  src/images/hotel6.jpeg
  src/images/hotel7.jpeg
  src/images/hotel8.jpeg
  src/images/hotel9.jpeg
  src/sql/PopulateDatabase.java
  src/sql/schema.sql
Labels: database

#56 Update HotelSearchGUI
  .idea/misc.xml
  src/hotelsearch/gui/HotelGUI.fxml
  src/hotelsearch/gui/HotelGUIController.java
  src/hotelsearch/gui/HotelGUIMain.java
  src/hotelsearch/gui/HotelViewGUI.fxml
Labels: view

#57 Minor HotelGUI update.
  src/hotelsearch/gui/HotelGUI.fxml
  src/hotelsearch/gui/HotelGUIController.java
Labels: view

#58 Update HotelSearchGUI
  src/hotelsearch/gui/HotelGUIController.java
Labels: view
