Repository nikhil7e/hotel-search, pull requests merged in 2022-03, with the labels that each got.

#18 Basic implementation of the Booking class, one constructor, variables…
  src/hotelsearch/model/Booking.java
Labels: model class

#23 Implement NoDBConnectionMock mock class
  src/hotelsearch/model/DatabaseService.java
  test/hotelsearch/model/NoDBConnectionMock.java
Labels: test class

#25 Implement UnsuccessfulDBSearchMock mock class
  test/hotelsearch/model/UnsuccessfulDBSearchMock.java
Labels: test class

#26 Add HotelController class template
  src/hotelsearch/controller/HotelController.java
Labels: test class

#27 Implement Hotel, Room and Booking schemas
  .idea/sqldialects.xml
  src/sql/schema.sql
Labels: database
